# macOS system files
.DS_Store

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor / build outputs
ios/App/build/
android/app/build/
build/
dist/

# Environment files
.env
